fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

sqlalchemy
alembic
psycopg[binary]

redis

langchain
langgraph

openai

pgvector

python-multipart

httpx

orjson

loguru

passlib[bcrypt]

python-jose[cryptography]

tiktoken

ragas

pytest